includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    phpVersion:
        min: 80300
        max: 80599
    paths:
        - src
    treatPhpDocTypesAsCertain: false
